<p id="notice"><%= notice %></p>

<h2> Details of <%= @customer.firstname %> </h2>

<p>
  <b>Firstname:</b>
  <%= @customer.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @customer.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<table>
<% @customer.tenancies.each do |tenancy| %>
<tr>
	<td><%= tenancy.id%></td>
	<td><%= tenancy.startDate%></td>
	<td><%= tenancy.stopDate%></td>
	<td><%= tenancy.creator%></td>
	<td>
    <%= link_to 'Remove Tenancy', [tenancy.customer, tenancy],
               :confirm => 'Are you sure?',
               :method => :delete %>
	</td>
</tr>
<% end %>
</table>

<h2>Add a Tenancy:</h2>
<%= form_for([@customer, @customer.tenancies.build]) do |tf| %>
  <div class="field">
    <%= tf.label :"Start Date" %><br />
    <%= tf.date_select("startDate", :default => Date.today, 
    :order => [:month, :day, :year], :start_year => Date.today.year, 
    :end_year => Date.today.year + 3) %>
  </div>
  <div class="field">
    <%= tf.label :"Stop Date" %><br />
    <%= tf.date_select("stopDate", :default => Date.today, 
    :order => [:month, :day, :year], :start_year => Date.today.year, 
    :end_year => Date.today.year + 3) %>
  </div>
  <div class="field">
  	<%= tf.label "plot_id_select", "Plot  " %>
  	<%= tf.select "plot_id", options_from_collection_for_select(@plot_ids, :id, :id) %>
  </div>
  <div class="field">
    <%= tf.label :Creator %><br />
    <%= tf.text_field :creator %>
  </div>
  <div class="actions">
    <%= tf.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
